body {
    padding: 24px;
}

.app-card {
    margin-bottom: 32px;
}

.app-card-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
    padding: 16px;
}

.app-card-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.normalized-ul {
    padding-left: 0;
    list-style-type: none;
}

.admin-categories-container {
    display: flex;
    align-items: center;
}

.admin-category-list {
    display: flex;
    gap: 12px;
    list-style-type: none;
}

.admin-category-list li:not(:last-child) {
    border-right: 2px solid;
    padding-right: 12px;
}

.question-form-points-container {
    display: flex;
    gap: 16px;
}

.question-form-points-container >:first-child {
    flex: 1;
}

.question-form-points-container >:nth-child(2) {
    width: 100px;
}

.game-board {
    display: flex;
    justify-content: space-between;
}

.game-questions {
    margin-top: 32px;
}

.game-question {
    position: relative;
    text-align: center;
}

.game-question__answered:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c";
    font-size: 50px; 
    color: #FFF;
    line-height: 50px;
    text-align: center;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-card {
    min-height: 250px;
    width: 500px;
    padding: 32px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.modal-close-button-container {
    display: flex;
    justify-content: flex-end;
}

.modal-close-button {
    position: relative;
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
}

.modal-close-button::before,
.modal-close-button::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    height: 2px;
    background-color: grey;
}

.modal-close-button::before {
    transform: rotate(45deg);
}

.modal-close-button::after {
    transform: rotate(-45deg);
}

.answer-options-list {
    list-style: lower-alpha;
    padding-left: 16px;
    margin: 0 auto;
}

.menu-card {
    padding: 24px;
    margin: 32px 0;
}

.menu-join-input {
    display: flex;
    align-items: center;
    gap: 24px;
}