.app-card {
    display: flex;
    justify-content: space-between;
}

.app-card-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.normalized-ul {
    padding-left: 0;
    list-style-type: none;
}

.admin-category-list {
    display: flex;
    gap: 12px;
    list-style-type: none;
}

.admin-category-list li:not(:last-child) {
    border-right: 2px solid;
    padding-right: 12px;
}

.game-board {
    display: flex;
    gap: 32px;
}

.game-questions {
    margin-top: 32px;
}

.game-question {
    position: relative;
    text-align: center;
}

.game-question__answered:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c";
    font-size: 50px; 
    color: #FFF;
    line-height: 50px;
    text-align: center;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-card {
    min-height: 250px;
    width: 500px;
    padding: 50px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.answer-options-list {
    list-style: lower-alpha;
    padding-left: 16px;
}